<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'tasks\main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <div class="col-sm-12">
                    <h3 style="display: inline-block">{{task.title}}</h3>
                    {% if not is_employer %}
                        {% if not task.is_assigned %}
                            <a class="btn btn-default btn-block" href="{% url 'tasks:assign-task' task.id %}">انجام میدم</a>
                        {% endif %}
                    {% endif %}
                    <hr/>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">ساخته شده در {{task.created_at}}</div>
                <div class="col-sm-3">{{task.cost}} تومان </div>
                <div class="col-sm-3">{{task.time_period}} روز</div>
                <div class="col-sm-12">
                    <br/>
                    توضیحات:
                    <br/>
                    {{task.description}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h5> شما با نام کاربری {{user.username}} به عنوان {{user_type}} وارد سیستم شده‌اید.</h5>
            <a class="btn btn-default btn-block" href="{% url 'index' %}">صفحه‌ی اصلی</a>
            <a class="btn btn-default btn-block" href="{% url 'tasks:logout' %}">خروج</a>
        </div>
    </div>
    <footer>
        <hr/>
        <span>درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
