{% extends "base.html" %}

{% block content %}
<div class="col-sm-12">
    <h3 class="well">{{task.title}}</h3>
    {% if task.state == "P" and user.is_employee %}
        <a class="btn btn-default btn-block" href="{% url 'tasks:assign-task' task.id %}">انجام میدم</a>
    {% endif %}

    {% if task.state == "A"%}
        <h5>واگذار شده به {{task.assigned_contractor}}</h5>
        {% if user.is_employee and task.assigned_contractor == user.contractor %}
            <a class="btn btn-default btn-block" href="{% url 'tasks:done-task' task.id %}">انجام دادم</a>
        {% endif %}
    {% endif %}

    {% if task.state == "D" %}
        <h5>انجام شده توسط {{task.assigned_contractor}}</h5>
    {% endif %}

    <hr/>
</div>
<div class="col-sm-2">ایجاد شده توسط {{task.owner}}</div>
<div class="col-sm-4">ساخته شده در {{task.created_at}}</div>
<div class="col-sm-3">{{task.cost}} تومان </div>
<div class="col-sm-3">{{task.time_period}} روز</div>
<div class="col-sm-12">
        <br/>
        توضیحات:
        <br/>
        {{task.description}}
    </div>
{% endblock %}

