{% extends "base.html" %}
{% load static %}


{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'tasks\main.js' %}"></script>
{% endblock %}


{% block content %}
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr class="text-info">
            <th>عنوان کار</th>
            <th>ارزش کار</th>
            <th>تخمین زمانی</th>
            <th>صاحب کار</th>
            <th>توضیحات</th>
            <th>وضعیت</th>
        </tr>
        </thead>
        <tbody id="tasksList">
        {% for task in task_page %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.cost}} تومان</td>
                <td>{{task.time_period}} روز</td>
                <td>{{task.owner}}</td>
                <td>
                    <a href="{% url 'tasks:detail' task.id %}" class="btn btn-default">مشاهده کار</a>
                </td>
                <td>{{task.get_state_display}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="tasks-paginator">
        <ul class="pagination">
            {% for page_number in task_page.paginator.page_range %}
                <li class="{% if page_number == task_page.number %}active{% endif %}">
                    <a href="?page={{page_number}}">{{page_number}}</a>
                </li>
            {% endfor %}
            <li>
                <a id="allTasksButton" href="allTasks">همه کارها</a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block navigation %}
    {% if not user.is_authenticated %}
        <h3> ورود </h3>
        <form action="{% url 'tasks:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input name="username" autocomplete="off" maxlength="100" class="form-control" placeholder="نام‌کاربری">
                <input name="password" autocomplete="off" class="form-control" placeholder="رمزعبور" type="password">
            </div>
            <button class="btn btn-default btn-block" type="submit">ورود</button>
        </form>
        <hr/>
        <h3>ثبت نام</h3>
        <form action="{% url 'tasks:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input name="username" maxlength="100" class="form-control" placeholder="نام‌کاربری">
            </div>
            <div class="form-group">
                <input name="email" class="form-control" placeholder="ایمیل" type="email">
            </div>
            <div class="form-group">
                <input name="password1" class="form-control" placeholder="رمزعبور" type="password">
            </div>
            <div class="form-group">
                <input name="password2" class="form-control" placeholder="تکرار رمز عبور" type="password">
            </div>
            <div class="form-group">
                <input name="user_type" type="radio" value="employer" id="employer">
                <label for="employer" >کارفرما</label>
                <br>
                <input name="user_type" type="radio" value="employee" id="employee">
                <label for="employee" >پیمانکار</label>
            </div>
            <button class="btn btn-default btn-block" type="submit">ثبت نام</button>
        </form>
    {% endif %}
{% endblock %}