{% extends "base.html" %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#add_task").addClass("active");
        });
    </script>
{% endblock %}

{% block content %}
<div>
    <h3> افزودن کار جدید </h3>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-6">
                    <input id="title" name="title" class="form-control" maxlength="250">
                </div>
                <label class="control-label col-sm-2" for="title">عنوان</label>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-6">
                    <textarea name="description" id="description" class="form-control" cols="40" rows="10"></textarea>
                </div>
                <label class="control-label col-sm-2" for="description">توضیحات</label>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-6">
                    <input name="cost" id="cost" class="form-control" type="range" min="1000" max="50000" step="50">
                </div>
                <label class="control-label col-sm-2" for="cost">قیمت از ۱۰۰۰ تا ۵۰۰۰۰</label>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-6">
                    <input name="time_period" id="time_period" class="form-control" type="number">
                </div>
                <label class="control-label col-sm-2" for="time_period">زمان تخمینی</label>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <button class="btn btn-default btn-block" type="submit">افزودن کار</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
