<!DOCTYPE html>
<html>
<head>
	<title>سامانه انجام کار</title>
	<style>
    	th, td, table {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>

<h2>سامانه انجام کار</h2>

<table style="width:100%;">
	<tr>
    	<th>Name</th>
    	<th>Cost</th>
    	<th>time period</th>
    	<th>Owner</th>
    	<th>details</th>
    </tr>
    <tr>
    	<td>Work in Garden</td>
        <td>10$</td>
        <td>1 week</td>
        <td>Javad</td>
        <td><button type="button">details</button></td>
    </tr>
    <tr>
    	<td>Give Calculus 1 exam</td>
        <td>2000$</td>
        <td>2 Hours</td>
        <td>Mmd</td>
        <td><button type="button">details</button></td>
    </tr>
</table>
<p>
<a href="www.rights.com"> rights </a>
 |
<a href="www.about-us.com"> about us</a>
</p>
</body>
</html>

